<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.openglesdemo1">

    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />
    <supports-gl-texture android:name="GL_OES_compressed_paletted_texture" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenglesDemo1">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.normal.t1.TriangleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.normal.t2.ColorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.normal.t3.RectangleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.normal.t4.VertexBufferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.normal.t5.VertexArrayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.normal.t6.SquareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.normal.t7.SquareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.normal.t8.TextureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.normal.t9.NativeOpenGlesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.normal.t10.FilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.normal.t11.TextureAndFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.normal.t12.FboFenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.normal.t13.TextureArrayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.normal.t14.MultiTextureActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.normal2.t1.Test1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.normal2.t2.Test2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.normal2.t3.Test3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.normal2.t4.Test4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.normal2.t5.Test5Activity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.camera.t1.TextureViewPreviewCamera2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.camera.t2.SurfaceViewPreviewCameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.camera.t3.GlPreviewCameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.camera.t4.GlPreviewCamera2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.camera.t5.TextureCameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.camera.t6.GlPreviewCameraWithRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.camera.t7.ChangeFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.camera.t8.Camera2DataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.camera.t9.CameraDataActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>